body {
    background-color: black;
    font-family: 'Dont Walk Run', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    background-position: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column.left, .column.right {
    flex: 1;
    margin-bottom: 20px;
}

.column.center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column img {
    max-width: 100%;
    margin: 10px 0;
}

.column.right img {
    margin: 0 0 10px 0;
}

.container {
    position: relative;
}

.video-container {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 999;
}